[Unit]
Description=RPI MQTT Monitor
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/username/git/rpi-mqtt-monitor/rpi_mon_env/bin/python /home/username/git/rpi-mqtt-monitor/src/rpi-cpu2mqtt.py --service
Environment="HOME=/home/username"
WorkingDirectory=/home/username/git/rpi-mqtt-monitor/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=YOUR_USER

[Install]
WantedBy=multi-user.target
