[Unit]
Description=RPI MQTT Monitor
After=network.target

[Service]
ExecStart=/home/username/git/rpi-mqtt-monitor/rpi_mon_env/bin/python /home/username/git/rpi-mqtt-monitor/src/rpi-cpu2mqtt.py --service
WorkingDirectory=/home/username/git/rpi-mqtt-monitor/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=YOUR_USER

[Install]
WantedBy=multi-user.target
